<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSS Animations</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class = "scene">
            <div class = "cube">
                <div class = "side front"></div>
                <div class = "side back"></div>
                <div class = "side top">
                    <div class = "ballShadow"></div>
                </div>
                <div class = "side bottom"></div>
                <div class = "side left"></div>
                <div class = "side rigth"></div>
            </div>
            <div class = "ball"></div>
            <div class = "floor"></div>
        </div>
    </body>
</html>